body{
    font-family:sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer, .awesome{
    background-color: #1f2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.logo{
    font-size: 24px;
    color:#f9faf8;
}

.left-links, .subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    margin-top: auto;
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
}

.awesome{
    display: flex;
    justify-content: center;
    padding: 42px 0px;
    text-align: left;
    gap: 64px;
}
.hero{
    max-width: 400px;
}

.hero .title{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}


/*only temporal*/
img {
    width: 400px;
    height: 200px;
}
/*only temporal*/

button {
    margin: 8px 0px;
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}

.information{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

.inf-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.bxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.box{
    display: flex;
    gap:16px;
    flex-direction: column;
    max-width: 200px;
}

.img-inf{
    flex: 1;
    border-radius: 8px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #3882f6;
}

.quote {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote-container{
    padding: 76px 0px;
}

.quote-container > .text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    max-width: 700px;
}

.quote-container > .author {
    text-align: right;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type : none;
}