body{
    font-family:sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer, .awesome{
    background-color: #1f2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.logo{
    font-size: 24px;
    color:#f9faf8;
}

.left-links, .subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    margin-top: auto;
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
}

.awesome{
    display: flex;
    justify-content: center;
    padding: 42px 0px;
    text-align: left;
    gap: 64px;
}
.hero{
    max-width: 400px;
}

.hero .title{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}


/*only temporal*/
img {
    width: 400px;
    height: 200px;
}
/*only temporal*/

button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}
ul{
    display: flex;
    gap: 10px;
    list-style-type : none;
}