body{
    font-family:sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .footer{
    background-color: #1f2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    font-size: 24px;
    color:#f9faf8;
}

.left-links{
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    margin-top: auto;
    text-align: center;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type : none;
}